{% extends 'baseFront.html.twig' %}
{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card bg-light mb-3">
          <div class="card-body">
            <h1 class="card-title text-success mb-4">Succès !</h1>
            <p class="card-text" >Votre registrement est effectué avec succès !</p>
             <p class="card-text">merci de partager avec nous</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}